@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--primary-color: #396b4f;
	--text-color: #727171;
}
html {
	font-size: 10px;
}
body {
    font-family: Inter, sans-serif;
    background-image: url('./images/background.jpeg');
    color: rgb(187, 29, 29);
}
.profile_profileImg {
    border-radius: 50%;
	position: relative;
}

.interes{
	margin-top: 100px;
}
.profile_profileImg img {
	margin-bottom: 30px;
	position: absolute;
	bottom: 0px;
	transform: scale(1.3);
}

.interest .sport i{
	margin-top: 22px;
}

.interest_item .sport-text{
	margin-bottom: 20px;
}

.interest_item .music-text{
	margin-top: 20px;
}

/* common styles */
img {
	width: 100%;
}
a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}
.description {
	margin-top: 1rem;
	font-size: 1.5rem;
	font-weight: 400;
	color: var(--text-color);
}
.title {
	color: var(--primary-color);
	font-weight: 700;
	font-size: 2rem;
	text-transform: uppercase;
}
.item_preTitle {
	font-size: 1.4rem;
	color: var(--text-color);
	font-weight: 300;
}
.item_title {
	font-size: 1.6rem;
	color: var(--text-color);
	font-weight: 500;
	margin: 0.8rem 0;
}
.item_subtitle {
	font-size: 1.4rem;
	color: var(--text-color);
	font-weight: 400;
}

/* layouts */
.container {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
	display: grid;
	padding: 5rem;
	background: #ffffff;
	grid-template-columns: 1fr 1fr;
	gap: 4rem;
}
.profile_description{
	color: #727171;
}
.profile_description, 
.profile_title{
	margin-left: 3px ;
}
@media only screen and (max-width: 768px) {
	.container {
		width: 100%;
		grid-template-columns: 1fr;
		padding: 3rem;
		gap: 7rem;
	}
}
.profile {
	grid-column: 1 / -1;
	margin-bottom: 2rem;
}
.group-1,
.group-2 {
	display: flex;
	flex-direction: column;
	gap: 5rem;
}
.group-3 {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	grid-column: 1/-1;
	display: flex;
	flex-direction: row;
	gap: 5rem;
}
.group-3 > div {
	flex: 1;
}
@media only screen and (max-width: 768px) {
	.profile {
		margin-bottom: 0;
	}
	.group-3 {
		flex-direction: column;
	}
}

/* profile */
.profile_container {
	display: flex;
	gap: 2rem;
}
.profile_profileImg {
	width: 200px;
	height: 200px;
	overflow: hidden;
	border: solid 1px #fff;
}



.profile_name_firstName {
	color: rgb(187, 29, 29);
	font-weight: 200;
	font-size: clamp(2rem, 8vw, 4rem);
	text-transform: uppercase;
	display: block;
	margin-bottom: -0.8rem;
}
.profile_name_lastName {
	color: var(--primary-color);
	font-weight: 700;
	font-size: clamp(2.5rem, 15vw, 7rem);
	text-transform: uppercase;
	display: block;
}
.profile_title {
	font-size: 1.5rem;
	font-weight: 400;
	text-transform: uppercase;
	color: #727171;
}
.downloadBtn {
	display: block;
	text-decoration: underline;
	font-size: 1.6rem;
	margin-top: 1rem;
}
.downloadBtn:hover {
	color: var(--primary-color);
}
@media only screen and (max-width: 768px) {
	.profile_container {
		flex-direction: column;
	}
}

/* Expertise */
.skills_list {
	margin-top: 1rem;
	margin-left: 2rem;
	line-height: 2;
}

/* Ref  */
.ref_item {
	margin-top: 2rem;
}
.ref_name {
	font-size: 1.6rem;
	font-weight: 700;
}

/* eduction */
.edu_item {
	margin-top: 2rem;
}

/* certification */
.certification_item {
	margin-top: 2rem;
}
/* exp */
.exp_item {
	margin-top: 2rem;
}

/* awards */
.awards_item {
	margin-top: 2rem;
}
/* Interests */



.interest_items {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
}
.interest_item {
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	color: var(--text-color);
}
.interest_item svg {
	width: 2rem;
}

/* socials */
.contact,
.social {
  text-align: center;
}

.social_items {
  display: flex;
  justify-content: center;
}
.social_items {
	display: block;
	text-align: center; /* Untuk mengatur ikon sosial di tengah horisontal */
  }
  
  .social_item {
	margin-top: 1rem; /* Mengatur jarak vertikal antara ikon sosial */
  }
  .social_items {
	display: flex;
	flex-direction: column; /* Mengatur elemen menjadi vertikal */
	align-items: center; /* Mengatur rata tengah secara horizontal */
	gap: 1rem; /* Mengatur jarak vertikal antara ikon sosial */
  }
	
.social_items {
	margin-top: 2rem;
}
.social_item {
	margin-top: 1.5rem;
	font-size: 1.5rem;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: flex-start;
	color: var(--text-color);
}
.social_item:hover {
	color: var(--primary-color);
}
.social_item svg {
	width: 2rem;
}

hr {
	grid-column: 1/-1;
	width: 80%;
	margin: 0 auto;
	margin-top: 5rem;
	margin-bottom: 1rem;
	border: none;
	border-top: 2px solid  rgb(187, 29, 29);
}
@media only screen and (max-width: 768px) {
	hr {
		margin: 0 auto;
	}
}
